/* Loading.css */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  
  .title {
    font-weight: bold;
  }
  
  .buttons {
    margin-top: 16px;
  }
  